.git
.github
.DS_Store

.env
.env.*
!.env.example
!.env.dokploy.example

node_modules
vendor

bootstrap/ssr
public/build
public/hot

storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*

npm-debug.log
yarn-error.log

tests
coverage
.phpunit.cache
.phpunit.result.cache

tools/**/objects
